extends layout

block content

  main.container(role='main')
    .shop
      .shop-img
          img(src="./img/banner-nosotros2.jpg", alt="") 
      .shop-body
        h1.titulo Nosotros
        

    p.lead
        | Somos un buscador de empleo que permite encontrar ofertas disponibles.
    
    .row
      .col-md-4
        h2 Empresas
        p
          | Permitimos que las mejores empresas publiquen sus vacantes.
          a(href='nosotros')
           img.img-fluid.mt-3(src='https://escuela-emprendedores.alegra.com/wp-content/uploads/2018/07/tipos-de-empresa-1.jpg')

      .col-md-4
        h2 Personas
        p
          | Permitimos que las personas se postulen a las vacantes y que las empresas contacten a las personas que tengan el mejor perfil profesional.
          a(href='nosotros')
           img.img-fluid.mt-2(src='https://image.freepik.com/vector-gratis/trabajadores-profesionales-dibujos-animados-dia-trabajo_18591-56740.jpg')

      .col-md-4
        h2 Cursos
        p
          | Tenemos los mejores cursos del mercado, para que mejores tu perfil profesional.
          a(href='nosotros')
           img.img-fluid.mt-2(src='https://www.azulschool.net/wp-content/uploads/2020/04/azul-school-1-1024x808.jpg')

    hr

  footer
  .container
    div(align='center')
      | 
      a Web de trabajo
      
      

