extends layout

include mixins/crearVacante

block content
    .container
        
        if errores
            each error in errores
                .alerta.error=error.texto
        +crearVacante(vacante)
