include partials/header

block content
                                    
  form#idFormulario.form-register(method="POST")
    h2.form__titulo Restablecer
    .container-inputs      
      .campo
        label(for="password") Nuevo Password:
        input(type="password" name="password" placeholder="Tu Password..")
      
      #idRespuesta.clsRespuesta
            
        .campo.enviar
            input.boton(type="submit" value="Restablecer")         
        
  script(src="/js/javascript.js")
